.site-img {
  height: 100px;
  width: 100px;
}

.site-info-container {
  display: inline-block;
  margin-bottom: 10px;
}

.site-img {
  display: inline-block;
}

.details {
  display: inline-block;
  vertical-align: top;
}
